
.container {
	margin: auto;
	width: 50%;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 10px;
}

h2 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="tel"] {
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}
